#navbar {
    display: block;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    color: #6f6f6f;
    z-index: 3;
}
body{
    z-index: 1;

}
.a-scene{
    position: relative;
    z-index: 2;
    margin-top: 0%;
}